/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'CanelaRegular';
  src: url("./fonts/Canela-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'CanelaBold';
  src: url("./fonts/Canela-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Favorit';
  src: url("./fonts/Favorit-RegularExtended.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Cloister';
  src: url("./fonts/CloisterBlack.ttf");
  font-weight: normal;
  font-style: normal;
}

$primary-text-color: rgba(255,255,255,50);
$secondary-text-color: red;
$tertiary-text-color: DarkGray;

$primary-link-color: red;

$background-color: black;
$primary-heading-font: 'CanelaRegular';
$secondary-heading-font: 'Favorit';

$primary-border-stack: 1px solid rgb(255, 255, 255, 0.15);

$design-page-font-size: 1.25rem;

html{
  font-size: 16px;
  background-image: url("./assets/static/whitenoise.png");
  cursor: crosshair;
}

body, html{
  background-color: $background-color;
  color: $primary-text-color;
}

// hide horiz scrollbar on slide transistion
body{
  overflow-x: hidden;  
}

h1, p#info{
  font-family: 'Cloister';
}

.home > h1{
  font-size: 18rem;
  line-height: 14rem;
}

svg > line{
  stroke-width: 1px;
  stroke:rgb(255, 255, 255, 0.8);
}

.lander{
  font-family: $primary-heading-font;
  text-align: start;
  font-size: 8rem;

  .link:hover{
    color: $secondary-text-color;
    cursor: pointer;
  }

  .videoContainer{
    top: 0;
    left: 0;
    width: 100%;
    transform: scaleX(-1);
  }
}

.flex-grid{
  display: flex;
  
  .col{
    flex: 1;
  }
}

.cardContainer{
  font-size: $design-page-font-size;
  width: 50%;
  opacity: 0;

  img{
    width: 100%;
    height: auto;
  }

  .paragraphContainer{
    font-size: 3 * $design-page-font-size / 4;
  }

}
.textContainer{
  margin-left: 1rem;
  margin-right: 1rem;
  
}
.dropdown{
  font-size: 2rem;
  bottom: 0;
  right: 0;

  font-family: $secondary-heading-font;
}

.cardLink{
  img{
    cursor: pointer;
  }
}

.menu div{
  opacity: 0;
}

.menu div:hover{
  color: red;
}
.dropdown:hover .menu{
	visibility: visible; 
}

.primary-text-color{
  color: $primary-text-color;
}

.secondary-text-color{
  color: $secondary-text-color;
}

.tertiary-text-color{
  color: $tertiary-text-color;
}

.titleImage > img{
  width: 40%;
}
.contactInfoContainer > *{
  position:relative;
  font-size: 3rem;
  margin-top: -18rem;
}

#email{
  left: 50%;
  top: 0vh;
  margin-bottom: 2rem;
}

#number{
  left: 70%;
  top: 25vh;
  margin-bottom: 1rem;
}

#cv{
  left: 20%;
  top: 35vh;
  margin-bottom: 2rem;
}

#github{
  left: 40%;
  top: 55vh;
  margin-bottom: 2rem;
}

.contactInfoStage{
  position: absolute;
  text-align: center;

  width: 25%;
  height: 75px;

  top: 65vh;
  left: 40%;
}

#energyGrid{
  position: absolute;
  left: 23%;
  top: 2%;
  width: 35%;
  opacity: 0.15;
}

#psychogeographie{
  position: absolute;
  left: 40%;
  top: 40%;
  opacity: 0.15;
}

#fluxusPurge{
  position: absolute;
  left: 10%;
  top: 92%;
  opacity: 0.15;
}

/* GRID */
.grid {
  display: flex;                       
  flex-wrap: wrap;                     
  justify-content: space-around;
  position: fixed;

  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none; // so we can click through
  
}
.cell {
  flex: 0 0 33.33%;                       
  height: 33.33%;
}

.cell:nth-child(3n), .cell:nth-child(3n+2) {
  border-left: $primary-border-stack;
}
.cell:nth-child(n+4):nth-child(-n+6){
  border-top: $primary-border-stack;
  border-bottom: $primary-border-stack;
}

/* random card positioning */
.mlr-0{
  margin-left: 0;
}

.mlr-1{
  margin-left: 10%;
}

.mlr-2{
  margin-left: 20%;
}

.mlr-3{
  margin-left: 30%;
}

.mlr-4{
  margin-left: 40%;
}

.mlr-5{
  margin-left: 50%;
}

.mlr-6{
  margin-left: 60%;
}

.mlr-7{
  margin-left: 70%;
}

.mlr-8{
  margin-left: 80%;
}

.mlr-9{
  margin-left: 90%;
}

.mlr--1{
  margin-left: -10%;
}

.mlr--2{
  margin-left: -20%;
}

.mlr--3{
  margin-left: -30%;
}

.mlr--4{
  margin-left: -40%;
}

.mlr--5{
  margin-left: -50%;
}

.mlr--6{
  margin-left: -60%;
}

.mlr--7{
  margin-left: -70%;
}

.mlr--8{
  margin-left: -80%;
}

.mlr--9{
  margin-left: -90%;
}

svg{
  width: 100%;
}

.page{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fs-title-md{
  font-size: 12px;
}

.noisy {
  background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=626262&density=94&opacity=15);
} 

// large laptops
@media screen and (max-width: 1600px){
  html{
    font-size: 14px;
  }

  .home > h1{
    font-size: 14rem;
    line-height: 12rem;
  }
}

// normal laptops 1280x720
@media screen and (max-width: 1280px){
  html{
    font-size: 13px;
  }

  .home > h1{
    font-size: 14rem;
    line-height: 12rem;
  }
}